<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>검색 후</title>

  <link rel="stylesheet" href="search_1.css">
  <script src="https://kit.fontawesome.com/39f6050202.js" crossorigin="anonymous"></script>


</head>
<body>

  <main>

    <!-- 헤더 -->
    <!-- 로그인 전 header -->
    <header>
      <section>
        <img src="/images/original_16.png" alt="로고이미지" width="80rem">
      </section>

      <section>
        <article>
          <a href="#">로그인</a>
        </article>

        <article>
          <a href="#">회원가입</a>
        </article>
      </section>

    </header>
    
    

    <!-- 검색바 영역 -->
    <section class="search" >
      <form action="searchInput">
        <input type="text" class="searchInput">
      </form>
      <button><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #66b97e;"></i></button>
    </section>


    <!-- 정렬 선택 영역 -->
    <section class="sort">
      <button class="sortBtn" id="sort-popular" style="color: #66b97e;">인기순</button> <!-- 클릭시 색바꾸기 -->
      <span>|</span>
      <button class="sortBtn" id="sort-latest">최신순</button>
      <span>|</span>
      <button class="sortBtn" id="sort-rating">평점순</button>
    </section>


    <!-- 리뷰 목록 영역 -->
    <section class="review-row">
      
      <article class="review-col">
        <!-- 이미지 -->
        <a th:href="@{/review/{reviewNo} (reviewNo=*{reviewNo},cp=${pagination.currentPage})}" 
        th:text="*{reviewImg}" class="review-img">
          <img src="#" alt="image-1">
        </a>
        
        <!-- 제목(가게명) -->
        <div class="reviewTitle"><a th:href="@{/review/{reviewNo} (reviewNo=*{reviewNo},cp=${pagination.currentPage})}" 
          th:text="*{reviewTitle}">가게이름</a></div>
        
          <!-- 닉네임/평점/작성일 -->
        <div class="nickname-star-date">
          <section class="nickname"><a th:href="#">푸바오</a></section>
          <section class="star" style="color: #f1c93b;" th:text="*{star}">4.5
            <i class="fa-sharp fa-solid fa-star fa-ml" style="color: #f1c93b;"></i></section>
            <section class="reviewWriteDate">[[*{reviewWriteDate}]]</section>
          </div>
      </article>

    </section>


    <!-- 다음 페이지 화살표 -->
    <section class="next-row">
      <a href="#">
        <div>NEXT</div>
        <div style="padding: 0.5rem;">
          <i class="fa-solid fa-circle-arrow-down fa-xl" 
          style="color: #66b97e; opacity: 70%;"></i></a>
        </div>
    </section>



  </main>

  
  <!-- 풋터 -->
  <footer>
    <article>
      <a href="#">고객센터</a>
      <span>|</span>
      <a href="#">라이센스</a>
    </article>
    <article>
      &copy Oliview Corp.
    </article>
  </footer>


</body>
</html>